
 @import 'bootstrap';
body{
    background-color: #F0EBE3;
}
//  Header ---------
#navbar-container{
    width: 100%;
    top: 0;
    left: 0;
    // position: fixed;
    z-index: 999;
    transition: all 0.3s ease-out;
}

#navbar-container.active{
    background-color: #E4DCCF;
    transition: all 0.3s ease-in;
}

#nav-links{
    display: flex;
    justify-content: center;
}

#nav-link-text{
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
}

#nav-link-text:hover {
    background-color:#7D9D9C;
    transition: all 0.1s ease-in;
  }

  .mr-auto{
    margin-left: 15%;
  }

  #bm-title{
    font-size: 40px;
  }

  .mr-2{
    margin-right: 15%;
    font-size: 50px;
  }

#icons{
    color: black;
}

//  Footer ---------

#footer-container{
  width: 100%;
  background-color: #E4DCCF;
  position: absolute;
  display: block;
  justify-content:space-around;
  align-items:center;
  text-align: center; 
}

#footer-text{
  font-size: 20px;
  line-height: 30px;
}

#footer-icons{
  font-size: 30px;
  color: black;
}